* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:#1E1E1E;
}

ul {
    padding: 10px;
}

li {
    display: inline;
    justify-content: center;
    padding: 10px 30px;
    margin: 3em;
}

li a {
    color: #f5f5f5;
    line-height: 20px;
    font-size: 20px;
    font-style: oblique;
}

li a:hover {
    color: #4f0d9b;
    text-decoration: none;
    list-style: none;
}

#encabezado-main {
    width: 56%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0eafb4;
    margin: 1em;
    background-color: #070707;
    border-radius: 5px;
}

#contenedor-main { 
    margin-top: 50px;
    width: 700px;
    height: auto;
    background-color: #292929;
    border-radius: 5px;
    padding: 30px;
    border: 2px solid rgb(18, 132, 170); 
}

#text-t {
    color: rgba(255, 255, 255, 0.612);
    font-size: 30px;
    font-style: italic;  
}

#text-main {
    color: #3a93b6;
    font-size: 20px;
}

@media screen and (max-width: 1250px) {
    #contenedor-main {
        width: 80%;
        text-align: left; 
        line-height: 30px;
    }
}
