 *{
    padding: 0;
    margin: 0;
} 
body{ 
    background-color: white; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

} 
.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px; 
}
.img{
    max-width: 60%;
    height: auto;
    border: 1px solid;      
} 
.lista-aside{
    padding-top: 15px;
    font-size: 25px;
    text-align: justify;
    font-style: italic;
} 
#contenedor{
    width: 900px;
    height: 900px;
    background-color: #ffffff;  
}
header{  
    background-color: #B58A69;
    color: #BADA55;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 60px; 
    align-items: center;
    text-align: center;
} 
header h1{
    padding: 10px;
}
button{
    background-color: #5E5E4A;
    margin: none;
    padding: 5px;
    transition: 0.6s;
}
button:hover{
    transform: scale(1.08);
}
#contenido {
    display: grid;
    background-color:#DEE5DE;
    grid-template-columns: 1fr 2fr;
    gap: 20px;  
    margin: 30px;
    height: 42vh;
    font-size: 15px;
} 
#contenido h2{ 
    font-size: 25px;
    color: rgba(0, 0, 0, 0.647);
}
#contenido2{ 
    background-color: #D7D7CB;
    margin: 30px;
    height: 32vh;
} 
#contenido2 h3{
    padding-top: 10px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.647);
}
.img-cont{ 
    width: 340px;
    height: 190px;
    margin-left: 50px;
    padding: 9px;
} 
.img-cont2 img{ 
    width: 190px;
    height: 120px;
    margin: 10px;
    justify-content: center;
}
.text-cont{
    display: flex;
    flex-direction: column;
    text-align: justify; 
    margin-right: 25px;
    margin-top: 10px;
}  
#pie {
    margin-top: -28px;
    height: 4%; 
    background-color:#5E5E4A;
    text-align: center;   
}
#pie h3{ 
    padding-top: 5px;
    font-size: 10px;
    color: #E8E6E6;
}
/*Selector de etiquetaaaaaaaaaaaa*/
nav{
    display: flex;
    flex-direction: row; 
    height: 40px;
    background-color: #ffffff;  
    justify-content: center;
} 
ul{ 
    margin-top:15px ;
    padding: 10px;
}
li{
    display: inline; 
    margin: 30px; 
}
li a{
    color: rgb(0, 0, 0);
    font-size: 15px;  
    text-decoration: none;
}
li a:hover{
    color: rgb(255, 1, 1);
    text-decoration: none;
    list-style: none;
}    